/* EN */
.lora-Regular {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.lora-Medium {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.lora-SemiBold {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.lora-Bold {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* KO */
.ibm-plex-sans-kr-light {
    font-family: "IBM Plex Sans KR", serif;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-sans-kr-regular {
font-family: "IBM Plex Sans KR", serif;
font-weight: 400;
font-style: normal;
}

.ibm-plex-sans-kr-medium {
font-family: "IBM Plex Sans KR", serif;
font-weight: 500;
font-style: normal;
}

.ibm-plex-sans-kr-semibold {
font-family: "IBM Plex Sans KR", serif;
font-weight: 600;
font-style: normal;
}

.ibm-plex-sans-kr-bold {
font-family: "IBM Plex Sans KR", serif;
font-weight: 700;
font-style: normal;
}
