@charset "UTF-8";

:root{
    --bg-color: #F7F6EC;
    --point-bg-color: #A67C52;
    --font-color: #2E2E2E;
}

/* 공통 */
body{width: 90%; margin: 0 auto; height: 100vh;}
#home, #about-me{height: 100%;}

/* #home */
.logo{display: flex; justify-content: space-between; align-items: center; text-align: center; border-bottom: 2px solid var(--font-color);}
.logo > span{padding: 1rem 0;}
.logo > span:first-child{width: 36px; height: 36px; background-color: var(--point-bg-color); border-radius: 50%;}
.logo > span:last-child{font-size: 1.5rem;}

.wrap{padding: 4rem 0; display: flex; align-items: center; height: 95%;}

/* home-left */
.home-left{height: 95%; flex: 1; display: flex; flex-direction: column; justify-content: flex-end;}
.left-img{transform: rotate(40deg);}
.left-img > img{width: 250px; height: 250px; transform: translate(240px, -100px);}
.left-txt{margin-right: 5rem; font-size: 2.4rem; display: grid; grid-template-columns: repeat(2, 1fr);}
.left-txt > p{margin: 1rem 0; padding-bottom: 1rem; border-bottom: 2px solid var(--font-color);}

/* home-right */
.home-right{height: 95%; position: relative; flex: 2; background-color: var(--point-bg-color); border-radius: 30px;}
.home-right > p{display: inline-block; font-size: 8rem; color: var(--bg-color);}
.right-txt{position: absolute; left: 50%; bottom: 10%; transform: translate(-50%, -10%); animation: text-expansion 2s ease-in;}

/* #about-me */
nav {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--font-color);
    border-bottom: 2px solid var(--font-color);
    z-index: 1000;
}
/* nav{padding-bottom: 2rem; display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid var(--font-color);} */
.pix-logo > span{width: 36px; height: 36px; display: block; background-color: var(--point-bg-color); border-radius: 50%;}
.menu{font-size: 2rem;}
.menu > span{margin: 0 3rem;}

/* proflie */
.proflie{height: 80%; margin: 4rem 0 0; display: flex; align-items: center; gap: 10rem;}
.proflie-img > img{width: 500px; height: 700px; border-radius: 30px;}
.proflie-txt{height: 100%; display: flex; flex-direction: column;}
.introduce, .iam{border-top: 2px solid var(--font-color); flex: 1;}
.introduce  p, .iam  p{padding: 1rem 0; font-size: 1.5rem;}

/* sklls */
.sklls > p{padding: 2rem 0; text-align: end; font-size: 2rem;}
.skll-card{padding: 2rem 0; display: flex; justify-content: space-between; align-items: center; border-top: 2px solid var(--font-color);}
.skll-card > p{width: 150px; height: 190px; text-align: center; border-radius: 30px; background-color: var(--point-bg-color); color: var(--bg-color);}









/* right-txt */
@keyframes text-expansion {
    0% {
        letter-spacing: 1em;
        transform: translate(-50%, -10%) translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        letter-spacing: normal;
        transform: translate(-50%, -10%) translateZ(0);
        opacity: 1;
    }
}

