@charset "UTF-8";

/*** reset.css ***/
*{ margin: 0; padding: 0; box-sizing: border-box;}
a{ text-decoration: none; color: inherit;}
li{ list-style: none;}
body{ height: 100vh; width: 100vw; overflow-x: hidden;}

:root{
    --font-color: #fff;
    --font-size: 3rem;
}
/*** google font ***/
.cinzel-font{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/*** heder 영역 ***/
header{
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    background-image: url(../img/New-Model-Y.jfif);
    background-size: cover;
}
.logo > a > img{
    width: 130px;
    filter: invert(100%);
}
nav{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
}
nav > .nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
nav > .nav-menu > li{
    padding: 7px 20px;
}
nav > .nav-menu > li:hover{
    padding: 7px 20px;
    background-color: #eee;
    color: #333;
    border-radius: 5px;
}
.icons > a > img{
    width: 30px;
    margin: 0 8px;
    filter: invert(100%);
}
nav > .meun-btn{
    display: none;
}
.zero{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.zero > p{
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    color: var(--font-color);
}

/*** 메인 ***/
main{
    width: 100%;
}
.one{
    height: 100vh;
    background-size: cover;
}
.two, .eight{
    position: relative;
}
.two > .card-txt{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    font-size: var(--font-size);
    font-weight: 600;
    text-align: center;
    color: var(--font-color);
}
.two > .card-txt > p:last-of-type{
    font-size: 1rem;
    margin-top: 10px;
}
.two > .card-btn{
    position: absolute;
    bottom: 5rem;
}
.eight{
    justify-content: flex-start;
}
.detail{
    position: absolute;
    left: 5rem;
    bottom: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.detail > .card-txt > p{
    font-size: var(--font-size);
    font-weight: 600;
    text-align: center;
    color: var(--font-color);
    margin-bottom: 10px;
}
footer{
    width: 100%;
    height: 20vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
}
footer > ul{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #666;
    cursor: pointer;
    flex: 1;
}
footer > .footer-txt{
    width: 90%;
    text-align: center;
    flex: 0.5;
}
footer > .footer-txt > span{
    margin-right: 5px;
    padding-right: 5px;
    color: #666;
    border-right: 1px solid #666;
}
footer > .footer-txt > span > a{
    text-decoration: underline;
    cursor: pointer;
}
footer > .footer-txt > span:nth-child(4),
footer > .footer-txt > span:nth-child(9),
footer > .footer-txt > span:last-child{
    border: none;
}

/*** 메인 영역 이미지 ***/
main > div.one{
    background-image: url(../img/Model-Y.jfif);
}
main > div.thr{
    background-image: url(../img/Model-3.jfif);
}
main > div.four{
    background-image: url(../img/Model-S.jfif);
}
main > div.five{
    background-image: url(../img/Model-X.jfif);
}
main > div.six{
    background-image: url(../img/SolarPanels.jpg);
}
main > div.seven{
    background-image: url(../img/Accessories.jfif);
}


/*** 공통으로 들어가는 영역 ***/
.card{
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 5rem;
    display: flex;
    justify-content: center;
    background-size: cover;

}
.card > .card-position{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.card > .card-position > p{
    font-size: var(--font-size);
    font-weight: 600;
    text-align: center;
    color: var(--font-color);
}
video{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}


/*** 공통 버튼 ***/
.btn{
    width: 270px;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    opacity: 0.9;
    margin-right: 5px;
    cursor: pointer;
}
.white{
    background-color: #fff;
    color: #222;
}
.blue{
    background-color: dodgerblue;
    color: #fff;
}
/* ************************************** */

@media screen and (max-width: 1200px) {
    nav > .nav-menu, nav > .icons{
        display: none;
    }
    nav > .meun-btn{
        display: block;
        width: 60px;
        padding: 5px 10px;
        border-radius: 5px;
        text-align: center;
        background-color: rgba(6, 6, 6, 0.2);
    }
    .zero > p{
        font-size: 3rem;
    }
    header, .card{
        background-position: center;
    }
    .card > .card-position > p, .two > .card-txt > p{
        font-size: 2.5rem;
    }
    .btn{
        width: 230px;
        font-size: 12px;
    }
    .detail{
        left: 2rem;
        bottom: 3rem;
    }
    .detail > .card-txt > p{
        font-size: 2rem;
    }
    footer > ul{
        flex: 0.5;
    }
    footer > .footer-txt{
        flex: 0.5;
    }
}
@media screen and (max-width: 824px) {
    .card{
        padding: 3rem;
    }
    .two > .card-txt > p:last-of-type{
        font-size: 10px;
    }
    .two > .card-txt > p, .detail > .card-txt > p{
        font-size: 1.5rem;
    }
    .detail{
        bottom: 3rem;
    }
    .detail > .card-btn > .btn{
        width: 500px;
    }
}
@media screen and (max-width: 425px) {
    nav{
        width: 90%;
    }
    nav > .meun-btn{
        width: 40px;
        text-align: center;
    }
    nav > .meun-btn > span{
        font-size: 10px;
    }
    .zero > p{
        font-size: 2rem;
    }
    .card{
        padding: 2rem;
    }
    .card > .card-position > p{
        font-size: 1.5rem;
    }
    .btn{
        width: 140px;
        font-size: 10px;
    }
    .detail > .card-txt > p{
        font-size: 1rem;
    }
    .detail > .card-btn > .btn{
        width: 300px;
    }
    footer > ul{
        width: 95%;
        gap: 5px;
    }
    footer > .footer-txt{
        flex: 0.7;
    }
}

/* 1200px에서 메뉴 버튼 변경, 마지막 비디오에서 txt 위치 하단으로 변경 */
/* 823px에서 마지막 비디오에서 button 사이즈 변경 */