@charset "UTF-8";

/*** reset.css ***/
*{ margin: 0; padding: 0;}
a{ text-decoration: none;}
li{ list-style: none;}
body{ height: 100vh;}

:root{
    --font-color: #fff;
    --font-size: 5rem;
}
/*** google font ***/
.cinzel-font{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/*** heder 영역 ***/
header{
    height: 100vh;
    padding-top: 1rem;
    background-image: url(../img/New-Model-Y.jfif);
    background-size: cover;
}
.logo > a > img{
    width: 130px;
    filter: invert(100%);
}
nav{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
}
nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 3rem;
}
.icons > a > img{
    width: 30px;
    margin: 0 8px;
    filter: invert(100%);
}
.zero{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.zero > p{
    font-size: var(--font-size);
    font-weight: bolder;
    text-align: center;
    color: var(--font-color);
}

/*** 메인 ***/
.one{
    height: 100vh;
    background-size: cover;
}
.two, .detail{
    position: relative;
}
.two > .card-txt{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10rem;
    font-size: var(--font-size);
    font-weight: bolder;
    text-align: center;
    color: var(--font-color);
}
.two > .card-txt > p:last-of-type{
    font-size: 1rem;
    margin-top: 10px;
}
.two > .card-btn{
    position: absolute;
    bottom: 10rem;
}
.detail > .card-txt{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10rem;
    font-size: var(--font-size);
    font-weight: bolder;
    text-align: center;
    color: var(--font-color);
}

/*** 메인 영역 이미지 ***/
main > div.one{
    background-image: url(../img/Model-Y.jfif);
}
main > div.thr{
    background-image: url(../img/Model-3.jfif);
}
main > div.four{
    background-image: url(../img/Model-S.jfif);
}
main > div.five{
    background-image: url(../img/Model-X.jfif);
}
main > div.six{
    background-image: url(../img/SolarPanels.jpg);
}
main > div.seven{
    background-image: url(../img/Accessories.jfif);
}


/*** 공통으로 들어가는 영역 ***/
.card{
    height: 100vh;
    padding: 5rem;
    display: flex;
    justify-content: center;
    background-size: cover;

}
.card > .card-position{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.card > .card-position > p{
    font-size: var(--font-size);
    font-weight: bolder;
    text-align: center;
    color: var(--font-color);
}


/*** 공통 버튼 ***/
.btn{
    width: 250px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 60px;
    opacity: 0.8;
    margin-right: 5px;
    cursor: pointer;
}
.white{
    background-color: #fff;
    color: #222;
}
.blue{
    background-color: dodgerblue;
    color: #fff;
}
/* ************************************** */