@charset "UTF-8";

/*** reset.css ***/
*{ margin: 0; padding: 0;}
a{ text-decoration: none; color: inherit;}
li{ list-style: none;}
body{ height: 100vh; width: 100vw; overflow-x: hidden;}

:root{
    --font-color: #fff;
    --font-size: 3rem;
}
/*** google font ***/
.cinzel-font{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/*** heder 영역 ***/
header{
    height: 100%;
    padding-top: 1rem;
    background-image: url(../img/New-Model-Y.jfif);
    background-size: cover;
}
.logo > a > img{
    width: 130px;
    filter: invert(100%);
}
nav{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
}
nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
nav> ul > li{
    padding: 7px 20px;
}
nav > ul > li:hover{
    padding: 7px 20px;
    background-color: #eee;
    color: #333;
    border-radius: 5px;
}
.icons > a > img{
    width: 30px;
    margin: 0 8px;
    filter: invert(100%);
}
.zero{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.zero > p{
    font-size: var(--font-size);
    font-weight: bolder;
    text-align: center;
    color: var(--font-color);
}

/*** 메인 ***/
.one{
    height: 100vh;
    background-size: cover;
}
.two, .eight{
    position: relative;
}
.two > .card-txt{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10rem;
    font-size: var(--font-size);
    font-weight: 600;
    text-align: center;
    color: var(--font-color);
}
.two > .card-txt > p:last-of-type{
    font-size: 1rem;
    margin-top: 10px;
}
.two > .card-btn{
    position: absolute;
    bottom: 10rem;
}
.eight{
    justify-content: flex-start;
}
.detail{
    position: absolute;
    left: 5rem;
    bottom: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--font-size);
    font-weight: 600;
    text-align: center;
    color: var(--font-color);
}
footer{
    height: 30vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
}
footer > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #666;
    cursor: pointer;
    flex: 1;
}
footer > .footer-txt{
    text-align: center;
    flex: 0.5;
}
footer > .footer-txt > span{
    margin-right: 5px;
    padding-right: 5px;
    color: #666;
    border-right: 1px solid #666;
}
footer > .footer-txt > span > a{
    text-decoration: underline;
    cursor: pointer;
}
footer > .footer-txt > span:nth-child(4),
footer > .footer-txt > span:nth-child(9),
footer > .footer-txt > span:last-child{
    border: none;
}

/*** 메인 영역 이미지 ***/
main > div.one{
    background-image: url(../img/Model-Y.jfif);
}
main > div.thr{
    background-image: url(../img/Model-3.jfif);
}
main > div.four{
    background-image: url(../img/Model-S.jfif);
}
main > div.five{
    background-image: url(../img/Model-X.jfif);
}
main > div.six{
    background-image: url(../img/SolarPanels.jpg);
}
main > div.seven{
    background-image: url(../img/Accessories.jfif);
}


/*** 공통으로 들어가는 영역 ***/
.card{
    height: 100vh;
    padding: 5rem;
    display: flex;
    justify-content: center;
    background-size: cover;

}
.card > .card-position{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.card > .card-position > p{
    font-size: var(--font-size);
    font-weight: 600;
    text-align: center;
    color: var(--font-color);
}
video{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}


/*** 공통 버튼 ***/
.btn{
    width: 200px;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 60px;
    opacity: 0.8;
    margin-right: 5px;
    cursor: pointer;
}
.white{
    background-color: #fff;
    color: #222;
}
.blue{
    background-color: dodgerblue;
    color: #fff;
}
/* ************************************** */

@media screen and (max-width: 1200px) {
    .btn{
        width: 150px;
    }
    .detail{
        bottom: 10rem;
        font-size: 2rem;
    }
}
@media screen and (max-width: 823px) {
    .detail{
        position: absolute;
        left: 10rem;
        bottom: 5rem;
    }
    .detail > .card-btn > .btn{
        width: 400px;
    }
}

/* 1200px에서 메뉴 버튼 변경, 마지막 비디오에서 txt 위치 하단으로 변경 */
/* 823px에서 마지막 비디오에서 button 사이즈 변경 */